<table class="table table-hover mt-4">
  <thead>
    <tr>
      <th scope="col">Email address</th>
      <th scope="col">Password</th>
      <th scope="col">Full Name</th>
      <th scope="col">Present Address</th>
      <th scope="col">Past Address</th>
      <th scope="col">National ID No</th>
      <th scope="col">Age</th>
      <th scope="col">Mobile Number</th>
      <th scope="col">Passport Number</th>
      <th scope="col">Is Bangladeshi</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    @for (item of totalDataFromParrent; track $index) {
      <tr>
        <td>{{item.email}}</td>
        <td>{{item.password}}</td>
        <td>{{item.firstName}} {{item.lastName}}</td>
        <td>{{item.presentAddress}}</td>
        <td>{{item.pastAddress}}</td>
        <td>{{item.idNo}}</td>
        <td>{{item.yourAge}}</td>
        <td>{{item.mobileNo}}</td>
        <td>{{item.passportNo}}</td>
        <td>
          @if (item.isBangladeshi) {
            <span>Bangladeshi</span>
          } @else {
            <span>Halai Indian</span>
          }
        </td>
        <td>
          <a type="button" class="btn btn-sm btn-danger" (click)="onDelete($index)">
            Delete
          </a>
        </td>
      </tr>
    }
    
  </tbody>
</table>